# Ignorar arquivos de ambiente
.env
*.pyc
__pycache__/
.streamlit/secrets.toml

# Ignorar pastas de dependências
venv/
env/
.venv/

# Ignorar arquivos do sistema
.DS_Store
Thumbs.db
desktop.ini

# Ignorar logs
*.log
